# 
# This file contains names (and wildcards) of files that
# Git should ignore.
# 
# Since we only care about the actual source code files,
# all the artwork and libraries are ignored, as are the
# files that are created when you compile.
# 

# ARTWORK

linden/LICENSE-logos.txt
linden/indra/newview/skins/*/textures/
linden/indra/newview/skins/dark/
linden/indra/newview/skins/gemini
linden/indra/newview/skins/default/html/btn_purplepill_bg.png
linden/indra/newview/skins/default/html/en-us/loading/sl_logo_rotate_black.gif
linden/indra/newview/skins/default/html/en-us/loading/Thumbs.db
linden/indra/newview/skins/default/html/en-us/loading/imprudence_loading.png
linden/indra/newview/skins/default/html/unabletoconnect.png
linden/indra/newview/res/
linden/indra/newview/res-sdl/
linden/indra/newview/character/
linden/indra/newview/app_settings/*.db2
linden/indra/newview/app_settings/windlight/
linden/indra/newview/cursors_mac/
linden/indra/newview/viewer.icns
linden/indra/newview/installers/windows/README.txt
linden/indra/newview/installers/windows/*

# LIBRARIES

linden/LICENSES/
linden/LICENSE-libraries-*.txt
linden/libraries/
linden/indra/newview/app_settings/mozilla*/
linden/indra/newview/fonts/
linden/indra/newview/lib/
linden/indra/newview/dbghelp.dll
linden/indra/newview/linux_tools/client-readme-voice.txt
linden/indra/newview/vivox-runtime/
linden/indra/newview/*.lproj/
linden/indra/newview/mozilla-theme/
linden/indra/test_apps/


# COMPILED STUFF

linden/indra/viewer-*
linden/indra/build-*
linden/installed.xml
*.pyc


# PATCHES

*.diff*
*.patch*


# MISCELLANEOUS

ChangeLog.txt
.DS_Store
*.zip
linden/indra/newview/mozilla-universal-darwin.tgz