# 
# This file contains names (and wildcards) of files that
# Git should ignore.
# 
# Since we only care about the actual source code files,
# all the libraries are ignored, as are the files that 
# are created when you compile.
# 

# LIBRARIES

# Thees two lines are a bit tricky.
# The ! syntax negates a pattern,
# but it needs a pattern, not just a directory.
# So turn the first line into a pattern for ! to negate.
linden/LICENSES/*
!linden/LICENSES/LICENSE-logos.txt

linden/LICENSE-libraries-*.txt
linden/libraries/
linden/indra/newview/app_settings/mozilla*/
linden/indra/newview/lib/
linden/indra/newview/dbghelp.dll
linden/indra/newview/linux_tools/client-readme-voice.txt
linden/indra/newview/vivox-runtime/
linden/indra/newview/*.lproj/
linden/indra/newview/mozilla-theme/
linden/indra/test_apps/


# COMPILED STUFF

linden/indra/viewer-*
linden/indra/build-*
linden/installed.xml
*.pyc
pdb_files/*.pdb


# PATCHES

*.diff*
*.patch*


# MISCELLANEOUS

ChangeLog.txt
.DS_Store
*.zip
linden/indra/newview/mozilla-universal-darwin.tgz

